.main{
    display: flex;
    flex-direction: column;
    width: 17.5vw;
    height: fit-content;
    padding: 2vh 3vw;
    background-color: rgba(255,255,255, 0.7);
}

.h1{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #414f6b;
}

.item{
    display: flex;
    justify-content: space-between;
    height: 1.3em;
    font-family: 'Lato', sans-serif;
}

.item>p{
    margin: 0;
}

@media screen and (max-width: 980px){
    .main{
        width: fit-content;
    }
    .item{
        gap: 3vw;
    }
    .item>p{
       font-size: 0.8em;
    }
}